# Zeppelin configuraton:

# Database type, accepts 'sqlite' and 'mysql'

db		=>	'',

# API user and key

apiuser		=>	'',
apikey		=>	'',

# Cloud account #

account		=>	'',

# Load balancer endpoint, accepts 'dfw', 'ord', and 'lon'

lbloc		=>	'',

# MySQL authentication

mysqldb		=>	'zeppelin',
mysqlhost	=>	'',
mysqluser	=>	'',
mysqlpass	=>	'',

# SQLite database location (relative path)

sqlitedb	=>	'zeppelin.sqlite'
